$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
}

nav {
  background-color: blue;
  font-size: 18px;
  padding: 10px;
  text-align: left;
}

h1 {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  background-color: blue;
  // height: 100px;
  width: 100%;
  color: white;
}

.modalContainer{
  text-align: left;
  font-size: 18px;
}
